{%  extends 'layouts/app.twig' %}

{% block title %}
    테스트 홈
{% endblock %}

{% block content %}
    <h1>이창우</h1>
    <br/><br/>
    <a href="/user/join"><button>회원가입</button></a>&nbsp;&nbsp;
    <a href="/login"><button>로그인</button></a>
{% endblock %}