{%  extends 'layouts/app.twig' %}

{% block title %}
    메인
{% endblock %}

{% block content %}
    <h3>메인</h3>

    <a href="/main/modify"><button>정보 수정</button></a> &nbsp;&nbsp;
    <a href="/board"><button>게시판</button></a>
{% endblock %}